/* Estilos gerais */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.site-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.site-banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.bonus-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.bonus-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.bonus-button2 {
    width: 100%;
    max-width: 263px;
    height: 61px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(270deg, #007BFF, #008d18);
    background-size: 200% 200%;
    animation: gradientAnimation 3s linear infinite;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.bonus-button2:hover {
    background: deepskyblue;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 900px) {
    .bonus-container {
        grid-template-columns: repeat(2, 1fr);
    }
}